{% extends 'defaults/structure_index.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}" />
{% endblock %}

{% block title %}
    Genero Musical
{% endblock %}

{% block body_container %}
    <div class="row">
        <div class="col text-center">
            <h1>Listagem de Genero Musical</h1>
            
            <br />
            <a href="/registers" class="btn btn-lg btn-danger">Voltar a Administração de Dados</a>
            <br />
            <br />

            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-secondary">
                        <form action="genre/add" method="POST">
                            {% csrf_token %}
                            <td hidden><input type="number" name="id" id="id" hidden /></td>
                            <td><input type="text" name="nome" id="nome" placeholder="Nome" /></td>
                            <td colspan="2"><input type="submit" value="Adicionar" class="btn btn-success btn-md"/></td>
                        </form>
                    </tr>
                    {% for lst_mus_gen in genre %}
                        <tr>
                            <td>{{lst_mus_gen.nome}}</td>
                            <form action="genre/alter" method="POST">
                                {% csrf_token %}
                                <td hidden><input type="number" name="id" id="id" value="{{lst_mus_gen.id}}" hidden /></td>
                                <td><input type="submit" value="Alterar" class="btn btn-md btn-warning" /></td>
                            </form>
                            <form action="genre/remove" method="POST">
                                {% csrf_token %}
                                <td hidden><input type="number" name="id" id="id" value="{{lst_mus_gen.id}}" hidden /></td>
                                <td><input type="submit" value="Remover" class="btn btn-md btn-danger" /></td>
                            </form>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
